<!DOCTYPE html>
<html>
    <head>
        <title>Extreme Beekeeper</title>
        <link href="b.css" rel="stylesheet">
        <script src="b.js"></script>
    </head>
    
    <body>

        <div id="A">
            <span class="h">You have </span>
                <span id="h"><%= honey %></span>
            &nbsp;Honey
        </div>

        <div id="B">
            <em>
                <span class="h">the bees are making </span>
                    <span id="r"><%= honeyRate * 20 %></span>
                &nbsp;per second
            </em>
        </div>

        <hr>

        <strong>What do you do?</strong>

        <ul>
            <li><a href="?">Refresh</a></li>
            <li><a href="">Buy a bee</a></li>
            <li><a href="">Buy a bee hive</a></li>
        </ul>

    </body>
</html>
