<html>
    <head>
        <title>Extreme Beekeeper</title>

        <script src="b.js"></script>

        <!--<meta http-equiv="refresh" content="10" />-->
    </head>
    
    <body>

        <div>
            You have <span id="h"><%= honey %></span>&nbsp;honey
        </div>

        <div>
            <em>the bees are making <span id="H"><%= honeyRate * 20 %> honey per second</em>
        </div>

        <hr>

        <strong>What do you do?</strong>

        <ul>
            <li><a href="?">Refresh</a></li>
            <li><a href="">Buy a bee</a></li>
            <li><a href="">Buy a bee hive</a></li>
        </ul>

    </body>
</html>
