main {
    position: absolute;
    top: 1em;
    left: 1em;
}

/* Honey amount */
#A {
    position: relative;
    left: 1em;

    display: inline-block;
    padding: 1em;

    background-color: #EAE151;
    border-radius: 8px;

    color: #4C491A;
}

/* Honey rate */
#B {
    display: inline-block;
    padding: 1em 1em 1em 2em;

    background-color: #898330;
    border-radius: 8px;

    color: #eee;
}

#r::before {
    content: "+"
}

/* Actions */
nav ul, nav li {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a {
    display: inline-block;
    float: left;

    margin: 1em 0 0 1em;
    padding: 1em;

    background-color: #EEEFA8;
    border-radius: 8px;

    text-decoration: none;
    color: #333;
}

nav a:hover {
    background-color: #FBFCB0;
}

/* Query problem */
#Q::after {
    background-color: #F00;
    content: "Out of sync";
}
